* {
  margin: 0;
}
div {
  display: flex;
}

/* Top Barra */
.borderBar {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  display: flex;
  place-items: flex;
  box-shadow: 0px 0px 5px rgb(219, 219, 219);
}

.options1 {
  list-style: none;
  padding: 0;

  font-size: 2.5vh;
  display: flex;

  gap: 0rem;
  place-items: flex;
}

.iconMPL {
  width: 6vh;
  margin-top: 2vh;
  margin-left: 8vh;
}
.styleLi1 {
  margin-top: 3.4vh;
  margin-left: 3vh;
}

/* Botão */

.button1 {
  border-style: none;
  border-radius: 3px;

  width: 150px;
  height: 30px;

  margin: 9px;
  margin-top: 15px;
}

.button1 {
  transition: all linear 200ms;
  color: #fff;
  background: rgb(255, 0, 76);

  padding-right: 10px;
  padding-left: 10px;
}

.button1:hover {
  background: rgb(230, 0, 69);
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2.7vh;
}

/* Títulos e Textos */

a,
.title1,
.styleLi1,
.description {
  font-family: 'Poppins', sans-serif;
}

.title1 {
  font-size: 3.5vh;
}

.description {
  font-size: 2.5vh;
}

.titlePage {
  font-size: 1rem;
  margin-top: 0rem;
  margin-right: 7rem;
}

.titlePageColor {
  color: rgb(255, 0, 76);
}

.header {
  display: block;
  position: fixed;
}

.listNumber {
  font-family: 'Poppins', sans-serif;
  font-size: 0.1rem;
}
